
.cards {
  display: grid;
  margin: 8px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 100%;

}

.card {
  border: none;
  height: 250px;
  img {
    height: 130px;
  }
}

.card-title {
  margin-top: 8px;
  margin-bottom: 0;
  padding-left: 4px;

  a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 13px;
  }

  a:hover {
    font-weight: 700;
  }

}

.card-image {
  background-image: cover;
}

.card-content {
  p {
    font-weight: 500;
    color: #767676;
    font-size: 12px;
    line-height: 12px;
    margin: 2px;
    padding-left: 4px;
  }
 }
